*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

bin
out
gen
*.eml
*.ipr
*.iml
*.iws
.idea
local.properties
default.properties
generated
.classpath
.project
ted_talks_android.properties
lint.xml
build
.gradle
.DS_Store
